.env
.venv
auth
Spotify User Data
generated_data
__pycache__
test.py


# Node/ts
node_modules/
dist/
build/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.DS_Store
.idea/
*.sublime-project
*.sublime-workspace